# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Coverage
coverage/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Misc
*.pem
.npm
